{% extends "base.html" %}

{% block title %}Upload - Media Converter{% endblock %}

{% block body %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#image">Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#audio">Audio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#video">Video</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Image -->
    <div class="tab-pane fade show active" id="image">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="image/*" required>
          </div>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <select name="format" class="custom-select" id="format">
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
          </select>
        </div>
        <div class="form-group">
          <label for="depth">Color Depth</label>
          <select name="depth" class="custom-select" id="depth">
            <option value="1">1-Bit (Black White)</option>
            <option value="L">8-bit (Greyscale)</option>
            <option value="RGB">24-bit (RGB Truecolor)</option>
          </select>
        </div>
        <div class="form-group">
          <label for="res">Resolution</label>
          <input name="res" id="res" type="range" min="0" max="200" step="10" list="tickmarks" class="form-control-range">
          <div style="display:flex;"><div style="text-align:left;width:50%;">0%</div><div style="text-align:right;width:50%">200%</div></div>
          <datalist id="tickmarks">
          <option value="0" label="0%">
          <option value="100" label="100%">
          <option value="200" label="200%">
        </datalist>
        </div>
        <input type="hidden" name="filetype" value="image">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>

    <!-- Audio -->
    <div class="tab-pane fade show" id="audio">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="audio/*" required>
          </div>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <select name="format" class="custom-select" id="format">
            <option value="mp3">MP3</option>
            <option value="wav">WAV</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bitrate">Bitrate</label>
          <select name="bitrate" class="custom-select" id="bitrate">
            <option value="64k">64 kbps</option>
            <option value="128k">128 kbps</option>
            <option value="192k">192 kbps</option>
            <option value="256k">256 kbps</option>
            <option value="320k">320 kbps</option>
          </select>
        </div>
        <div class="form-group">
          <label for="samplerate">Sample Rate</label>
          <select name="samplerate" class="custom-select" id="samplerate">
            <option value="32000">32 KHz</option>
            <option value="44100">44 KHz</option>
            <option value="48000">48 KHz</option>
          </select>
        </div>
        <div class="form-group">
          <label for="channel">Channels</label>
          <select name="channel" class="custom-select" id="channel">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <input type="hidden" name="filetype" value="audio">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>

    <!-- Video -->
    <div class="tab-pane fade show" id="video">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="video/*" required>
          </div>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <select name="format" class="custom-select" id="format-video">
            <option label="-- Choose Format --"></option>
            <option value="mp4">MP4</option>
            <option value="wmv">WMV</option>
            <option value="mov">MOV</option>
            <option value="avi">AVI</option>
            <option value="mpeg">MPEG</option>
            <!-- <option value="3gp">3GP</option> -->
          </select>
        </div>
        <div class="form-group">
          <label for="framerate">Frame Rate</label>
          <select name="framerate" class="custom-select" id="framerate-video">
            <option label="-- Choose Frame Rate --"></option>
            <option value="10">10 fps</option>
            <option value="23.976">24 fps <i>(frame rate standard)</i></option>
            <option value="25">25 fps <i>(PAL & SECAM standard)</i></option>
            <option value="29.97">30 fps <i>(NTSC standard)</i></option>
            <option value="50">50 fps</option>
            <option value="60">60 fps</option>
          </select>
        </div>
        <div class="form-group">
          <label for="framesize">Frame Size (Resolusi)</label>
          <select name="framesize" class="custom-select" id="framesize-video">
            <option label="-- Choose Frame Size --"></option>
            <option value="320:240">320 x 240 piksel</option>
            <option value="640:480">640 x 480 piksel</option>
            <option value="960:720">960 x 720 piksel</option>
            <option value="1280:1080">1280 x 1080 piksel</option>
            <option value="1440:1080">1440 x 1080 piksel</option>
            <optgroup label="Youtube Standard">
              <option value="426:240">426 x 240 piksel <i>(240p)</i></option>
              <option value="640:360">640 x 360 piksel <i>(360p)</i></option>
              <option value="854:480">854 x 480 piksel <i>(480p)</i></option>
              <option value="1280:720">1280 x 720 piksel <i>(720p)</i></option>
              <option value="1920:1080">1920 x 1080 piksel <i>(1080p)</i></option>
              <option value="2560:1440">2560 x 1440 piksel <i>(1440p (2K))</i></option>
              <option value="3840:2160">3840 x 2160 piksel <i>(2160p (4K))</i></option>
            </optgroup>
            <optgroup label="NTSC Standard">
              <option value="352:240">352 x 240 piksel</option>
              <option value="352:480">352 x 480 piksel</option>
              <option value="704:480">704 x 480 piksel</option>
              <option value="720:480">720 x 480 piksel</option>
            </optgroup>
            <optgroup label="PAL Standard">
              <option value="352:288">352 x 288 piksel</option>
              <option value="352:576">352 x 576 piksel</option>
              <option value="704:576">704 x 576 piksel</option>
              <option value="720:576">720 x 576 piksel</option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
            <label for="aspect-ratio">Aspect Ratio</label>
            <select name="aspect-ratio" class="custom-select" id="aspect-ratio-video">
              <option label="-- Choose Aspect Ratio --"></option>
              <option value="3:4">3 : 4</option>
              <option value="4:3">4 : 3</option>
              <option value="5:3">5 : 3</option>
              <option value="5:4">5 : 4</option>
              <option value="11:5">11 : 5</option>
              <option value="16:9">16 : 9</option>
              <option value="16:10">16 : 10</option>
              <option value="17:10">17 : 10</option>
            </select>
          </div>
        <div class="form-group">
          <label for="bitrate">Bitrate</label>
          <select name="bitrate" class="custom-select" id="bitrate-video">
            <option label="-- Choose Bitrate --"></option>
            <option value="64k">64 kbps</option>
            <option value="128k">128 kbps</option>
            <option value="1M">1 Mbps <i>(recommended for 360p)</i></option>            
            <option value="2.5M">2.5 Mbps <i>(recommended for 480p)</i></option>
            <option value="5M">5 Mbps <i>(recommended for 720p)</i></option>
            <option value="8M">8 Mbps <i>(recommended for 1080p)</i></option>
            <option value="10M">10 Mbps</option>
            <option value="16M">16 Mbps <i>(recommended for 1440p)</i></option>
          </select>
        </div>
        <div class="form-group">
          <label for="channel">Channel</label>
          <select name="channel" class="custom-select" id="channel-video">
            <option label="-- Choose Channel --"></option>
            <option value="1">Mono</option>
            <option value="2">Stereo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="samplerate">Audio Sample Rate</label>
          <select name="samplerate" class="custom-select" id="samplerate-video">
            <option label="-- Choose Audio Sample Rate --"></option>
            <option value="32000">32 KHz</option>
            <option value="44100">44 KHz</option>
            <option value="48000">48 KHz</option>
          </select>
        </div>
        <input type="hidden" name="filetype" value="video">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>
  </div>
{% endblock %}