{% extends "base.html" %}

{% block title %}Upload - Media Converter{% endblock %}

{% block body %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#image">Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#audio">Audio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#video">Video</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Image -->
    <div class="tab-pane fade show active" id="image">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="image/*" required>
          </div>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <select name="format" class="custom-select" id="format">
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
          </select>
        </div>
        <div class="form-group">
          <label for="depth">Color Depth</label>
          <select name="depth" class="custom-select" id="depth">
            <option value="1">1-Bit (Black White)</option>
            <option value="L">8-bit (Greyscale)</option>
            <option value="RGB">24-bit (RGB Truecolor)</option>
          </select>
        </div>
        <div class="form-group">
          <label for="res">Resolution</label>
          <input name="res" id="res" type="range" min="0" max="200" step="10" list="tickmarks" class="form-control-range">
          <div style="display:flex;"><div style="text-align:left;width:50%;">0%</div><div style="text-align:right;width:50%">200%</div></div>
          <datalist id="tickmarks">
          <option value="0" label="0%">
          <option value="100" label="100%">
          <option value="200" label="200%">
        </datalist>
        </div>
        <input type="hidden" name="filetype" value="image">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>

    <!-- Audio -->
    <div class="tab-pane fade show" id="audio">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="audio/*" required>
          </div>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <select name="format" class="custom-select" id="format">
            <option value="mp3">MP3</option>
            <option value="wav">WAV</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bitrate">Bitrate</label>
          <select name="bitrate" class="custom-select" id="bitrate">
            <option value="64k">64 kbps</option>
            <option value="128k">128 kbps</option>
            <option value="192k">192 kbps</option>
            <option value="256k">256 kbps</option>
            <option value="320k">320 kbps</option>
          </select>
        </div>
        <div class="form-group">
          <label for="samplerate">Sample Rate</label>
          <select name="samplerate" class="custom-select" id="samplerate">
            <option value="32000">32 KHz</option>
            <option value="44100">44 KHz</option>
            <option value="48000">48 KHz</option>
          </select>
        </div>
        <div class="form-group">
          <label for="channel">Channels</label>
          <select name="channel" class="custom-select" id="channel">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <input type="hidden" name="filetype" value="audio">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>

    <!-- Video -->
    <div class="tab-pane fade show" id="video">
      <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="file" name="file" class="custom-file-input" id="file" accept="video/*" required>
          </div>
        </div>
        <div class="form-group">
          Option lainnya taruh sini...
        </div>
        <input type="hidden" name="filetype" value="video">
        <button type="submit" class="btn btn-primary">Convert</button>
      </form>
    </div>
  </div>
{% endblock %}